# HTTP port (default is 8080)
/config/http/port = 8087

# Runtime mode (default is "production")
/config/runtime/mode="development"

/config/zso/recycle/enable = false

/config/json/prettyPrint = true

# Consumer key & secret from dev.twitter.com (replace this with yours)
/config/twitter/consumerKey = "GoSZrMtrO6IsJCt3yJHgA"
/config/twitter/consumerSecret = "Imxh1pABwhyeMGvYsOi2bxKBpXXUXdpYmwRjJPZKL8"